<h2><%= @employee.name %></h2>
<p>Dealership id: <%= @employee.dealership_id %></p>
<p>Are they on vacation? <%= @employee.on_vacation %></p>
<p>Cars sold: <%= @employee.cars_sold %></p>
<p>Created at: <%= @employee.created_at %></p>
<p>Updated at: <%= @employee.updated_at %></p>
<p><%= button_to "Update #{@employee.name}", "/employees/#{@employee.id}/edit", method: :get %></p>
<p><%= button_to "Delete #{@employee.name}", "/employees/#{@employee.id}", method: :delete %></p>
