<h1>This Manufacturer's Vehicles </h1>

<% @vehicles.each do |vehicle| %>
<p>Vehicle name: <%= vehicle.name %></p>
<p>Vehicle year: <%= vehicle.year %></p>
<p>Vehicle price: $<%= vehicle.price %></p>
<p> ----------------------- </p>
<% end %>

<%= button_to "Create a New #{@manufacturer.name} Vehicle:", "/manufacturers/#{@manufacturer.id}/vehicles/new", method: :get %>
<%= button_to "Alphabetize #{@manufacturer.name} Vehicles", "/manufacturers/#{@manufacturer.id}/vehicles", method: :get, params: { alphabetize: true} %>