<br>
<%= form_with url: "/dealerships/#{@dealership.id}/employees", method: :get, local: true do |form| %>
  <%= form.label :minimum_cars_sold %>
  <%= number_field_tag :min_cars_sold%>
  <%= form.submit 'See Results' %>
<% end %>

<% @employees.each do |employee|%>
  <h2><%= employee.name %></h2>
  <p>Dealership id: <%= employee.dealership_id %></p>
  <p>Are they on vacation? <%= employee.on_vacation %></p>
  <p>Cars sold: <%= employee.cars_sold %></p>
  <p>Created at: <%= employee.created_at %></p>
  <p>Updated at: <%= employee.updated_at %></p>
  <p><%= button_to "Update #{employee.name}", "/employees/#{employee.id}/edit", method: :get %></p>
<% end %>

<%= button_to "Create Employee", "/dealerships/#{@dealership.id}/employees/new", method: :get %>
<br>
<br>
<%= button_to "Alphabetize #{@dealership.name}'s Employees", "/dealerships/#{@dealership.id}/employees", method: :get, params: { alphabetize: true}%>