<h2><%= @vehicle.name %></h2>
<p>Vehicle id: <%= @vehicle.id %></p>
<p>Price: <%= @vehicle.price %></p>
<p>Has it been sold yet? <%= @vehicle.sold %></p>
<p>Created At: <%= @vehicle.created_at %></p>
<p>Updated At: <%= @vehicle.updated_at %></p>