<h3>Create a new Manufacturer: </h3>

<%= form_with url:'/manufacturers', method: :post, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<br>
<%= form.label :production_capacity%>
<%= form.number_field :production_capacity%>
<br>
<%= form.label :is_it_open? %>
<%= form.select :sold, ['false', 'true'] %>
<br>
<%= form.submit "Create Manufacturer" %>
<% end %>