<h2><%= @manufacturer.name %></h2>
<p>Manufacturer ID: <%= @manufacturer.id %></p>
<p>Manufacturer Production Capacity: <%= @manufacturer.production_capacity %></p>
<p>Is this manufacturer open? <%= @manufacturer.is_open %></p>
<p>Created At: <%= @manufacturer.created_at %></p>
<p>Updated At: <%= @manufacturer.updated_at %></p>
<p>Total Vehicle Count: <%= @manufacturer.vehicle_count %></p>
<a href='/manufacturers/<%= @manufacturer.id %>/vehicles'>All <%= @manufacturer.name %> Vehicles:</a>