<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <div class="topnav">
    <a href="/">Home</a>
    <a href="/manufacturers">Manufacturers</a>
    <a href="/vehicles">Vehicles</a>
    <a href="/dealerships">Dealerships</a>
    <a href="/employees">Employees</a>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
